<title>Change Password</title>
<h1>This is the manage page for the {{ club.clubName }} club</h1>

<form action="{% url 'accounts:manageClub' club.id%}" method="post">
    {% csrf_token %}

    <fieldset>
        <legend>
            <h2>Details for the {{ club.clubName }} club</h2>
        </legend>

        {% for field in clubForm %}
            {% if field.name == "streetNo" %}
                <h4>Location Details</h4>
            {% endif %}

            {% if field.name == "landlineNo" %}
                <h4>Contact Details</h4>
            {% endif %}

            <div class="fieldContainer">
                {{ field.label_tag }} {{ field }}
                {% for errors in field.errors %}
                    <div class="error">{{ errors }}</div>
                {% endfor %}
            </div>
        {% endfor %}

        <br><input type="submit" name="submit" value="Submit">
        <input type="submit" name="delete" value="Delete">
    </fieldset>
</form>